.dashboard-caontainer {
  background: #efefef;

  .category-container {
    height: 90vh;
    overflow-y: auto;
    padding: 10px;

    .category-title {
      padding: 15px;
      .title {
        font-size: 23px;
        color: gray;
        font-weight: 500;
        display: inline-block;
        width: 50%;
        text-transform: uppercase;
      }

      .see-all {
        display: inline-block;
        width: 50%;
        text-align: right;
        font-size: 16px;
        text-transform: uppercase;
      }
    }

    .custom-card {
      width: 270px;
      display: inline-block;
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 15px;

      .mat-card-title {
        margin-top: 0;
        height: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .mat-card-subtitle {
        height: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        height: 300px;
      }
    }
  }
}
