.example-full-width{
  display: inline-block;
}


.btn-block:hover, .btn-block:focus, .btn-block.focus, .btn-block:active, .btn-block.active, .open > .dropdown-toggle.btn-block {
  color:
    #fff;
  background-color:
    #449d44;
  border-color:
    #398439;
}
