.signup-container {
  .mat-form-field{
    width : 45%;
   }

   .signup-btn{
    margin-left : 10px;
   }
}

.dimo-field{
  margin: 10px;
  display: inline-block;
}

.btn-block{
  cursor: pointer;
  border-radius: .25rem;
}
