<!-- <mat-tab-group>
  <mat-tab label="Register">
    <form>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Use name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput="password" placeholder="Email">
      </mat-form-field>
    </form>
  </mat-tab>
  <mat-tab label="Sign in">
    <mat-form-field class="example-full-width">
      <input matInput="search" placeholder="Search here">
      <mat-icon aria-hidden="false" aria-label="Example home icon">cross</mat-icon>
    </mat-form-field>
  </mat-tab>
</mat-tab-group> -->


<dimo-search></dimo-search>
<dimo-dashboard ></dimo-dashboard>
<dimo-searchresult></dimo-searchresult>
