<div class="dashboard-caontainer">
  <div class="category-container" *ngFor="let category of categories">
    <div class="category-title">
      <div class="title">{{category.category}}</div>
      <div class="see-all">See All</div>
    </div>
    <div>
      <mat-card class="custom-card" *ngFor="let movie of category.movies">
        <mat-card-title>{{movie.name}}</mat-card-title>
        <mat-card-subtitle>{{movie.description}}</mat-card-subtitle>
        <img mat-card-image [attr.src]="movie.thumbNail" (click)="moviedetails(movie.id)">
      </mat-card>
    </div>
  </div>
</div>

