
<div class="dimo-header">
  <div class="logo">
    <h4>DIMO</h4>
  </div>
  <div class="search">
    <mat-form-field class="example-full-width">
      <input matInput="search" placeholder="Search here">
      <mat-icon aria-hidden="false" aria-label="Search icon">search</mat-icon>
    </mat-form-field>
  </div>
</div>

<div class="dashboard-caontainer">
  <div class="category-container" *ngFor="let category of categories">
    <div class="category-title">
      <div class="title">{{category.category}}</div>
      <div class="see-all">See All</div>
    </div>
    <div>
      <mat-card class="custom-card" *ngFor="let movie of category.movies">
        <mat-card-title>{{movie.name}}</mat-card-title>
        <mat-card-subtitle>{{movie.description}}</mat-card-subtitle>
        <img mat-card-image [attr.src]="movie.thumbNail">
      </mat-card>
    </div>
  </div>
</div>
