<mat-card class="login-container" >
  <form class="example-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-card-content>
      <p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" name="email" ngModel>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" name="password" ngModel>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      </p>

    </mat-card-content>
    <p class="error-msg" *ngIf="showErr" >Invalid credentials.</p>
    <button mat-raised-button color="primary" class="login-btn">Log In</button>
  </form>
</mat-card>
